body {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
h1 {
  margin: 0;
  margin-bottom: 30px;
  font-family: Georgia, Times, serif;
  font-size: 30px;
  font-weight: normal;
}
img {
  margin: 0;
  padding: 0;
  border: none;
}
img .spinner {
  display: none;
}
header, nav, section, article, footer {
  display: block;
}
header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, Times, serif;
  font-size: 16px;
}
header h1 {
  font-size: 40px;
}
#motto {
}
#login {
width: 300px;
float: right;
}
#group {
width: 300px;
float: right;
margin-top: 10px;
}
nav {
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}
nav a, nav a:hover, nav a:visited {
  padding: 10px;
  padding-top: 20px;
  color: white;
  background-image: url('/images/nav.png');
}
#nav-text {
background-position: 0 0;
}
#nav-text:hover {
background-position: 0 60px;
}
#nav-photo {
background-position: 200px 0;
}
#nav-photo:hover {
background-position: 200px 60px;
}
#nav-audio {
background-position: 400px 0;
}
#nav-audio:hover {
background-position: 400px 60px;
}
#nav-video {
background-position: 600px 0;
}
#nav-video:hover {
background-position: 600px 60px;
}
#filter {
width: 640px;
padding: 5px;
text-align: center;
color: #888;
}
#news {
width: 300px;
float: right;
}
#news article {
margin-top: 20px;
color: #888;
}
#posts article {
width: 640px;
margin-bottom: 20px;
}
#posts .content {
padding: 10px;
font-family: Georgia, Times, serif;
font-size: 20px;
background-color: #efeef3;
color: #666;
}
#posts .media {
position: relative;
padding: 10px;
text-align: center;
background-color: white;
}
#posts .play {
width: 100px;
height: 100px;
position: absolute;
left: 260px;
top: 140px;
background-image: url('/images/play.png');
}
#posts .number, #posts .rating, #posts .author {
margin: 0;
padding: 10px;
color: #888;
}
#posts .number a {
color: #888;
}
#posts .rating p {
display: inline;
vertical-align: top;
}
#posts .author {
float: right;
padding-left: 30px;
background: white url('/images/triangle.png') no-repeat;
}
#yield {
width: 300px;
margin: 10px auto;
padding: 10px;
text-align: center;
border: 2px solid #efeef3;
}
footer {
  margin-bottom: 50px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-top: 2px solid #efeef3;
}
.rui-lightbox-body-locker {
  display: none;
}
.rui-rater div {
  text-indent: -99em;
  background: url('/images/star-off.png') no-repeat center center;
}
.rui-rater div.active {
  background-image: url('/images/star-on.png');
}
.pages {
  margin-bottom: 10px;
}
.pages em, .pages a, .pages span {
  font-style: normal;
  padding-left: 5px;
  padding-right: 5px;
}
.pages em {
  font-size: 20px;
}