<p><b>Хоровод</b> — традиционное мероприятие, проводимое с 2006 года,
  приуроченное ко Дню Рождения Университета. Студенты УрФУ встают по
  периметру университетской площади, взявшись за руки, Ректор
  произносит поздравительную речь и происходит торжественное замыкание
  колец хоровода под музыку традиционной песни Хоровода, и участники
  делают несколько кругов вокруг площади. После этого всех присутствующих
  угощают праздничным караваем.</p>
<p>Каждый пришедший получает памятный значок и флажок с символикой
  мероприятия. После вождения хоровода подводятся итоги конкурса
  «Поздравь университет с юбилеем».</p>
<p>В этом году Университету исполняется 90 лет. Планируется установить
  мировой рекорд Гиннеса, для чего необходимо собрать более 7500
  участников. Мероприятие пройдет 19 октября с 13:30 до 14:55.
  Участвовать в мероприятии будут студенты и сотрудники сразу двух
  университетов: УрФУ им. Первого Президента Б.Н. Ельцина и
  УрГУ им. А.М. Горького.</p>
<h3>Получить подарок от партнёров акции очень просто!</h2>
<ul>
  <li>зарегистрироваться на этом сайте;</li>
  <li>оставить самое оригинальное поздравление;</li>
  <li>прийти на «Хоровод».</li>
</ul>
<p>Прежде всего, необходимо заранее зарегистрироваться на своем факультете
  если Вы не знаете кто является регистратором – подойдите в профбюро
  факультета).</p>
<p><b>Важно:</b> регистрироваться можно только один раз –
  только в одном регистрационном листе.</p>
<p>19 октября в 13:30 собираемся около своих учебных корпусов.
  Отмечаемся у человека, у которого регистрировались. Выстраиваемся в
  колонну по 10 человек. И дружно всем факультетом отправляемся на
  площадь перед главным учебным корпусом, чтобы присоединиться к
  общему хороводу. Очень желательно, чтобы в колонне держался строй по 10 человек в
  ряд. Придя на площадь университета присоединяемся к общему хороводу.
  После торжественного замыкания колец «Хоровода» начинается пение
  поздравительной песни. Движение хоровода координируется девушками,
  стоящими по периметру колонны.</p>