<table width='100%'>
  <tbody>
    <tr>
      <th>Время</th>
      <th>Мероприятие</th>
      <th>Место</th>
    </tr>
    <tr>
      <td>13:15 — 13:50</td>
      <td>Построение колонн факультетов.</td>
      <td>Территория около учебных корпусов.</td>
    </tr>
    <tr>
      <td>13:50 — 14:00</td>
      <td>Построение хоровода.</td>
      <td>Площадь перед главным учебным корпусом.</td>
    </tr>
    <tr>
      <td>14:00 — 14:05</td>
      <td>Поздравительная речь ректора. Торжественное замыкание колец хоровода.</td>
      <td>Площадь перед главным учебным корпусом.</td>
    </tr>
    <tr>
      <td>14:05 — 14:15</td>
      <td>Исполнение поздравительных песен. Движение Хоровода.</td>
      <td>Площадь перед главным учебным корпусом.</td>
    </tr>
    <tr>
      <td>14:15 — 14:55</td>
      <td>Вручение подарков.</td>
      <td>Площадь перед главным учебным корпусом.</td>
    </tr>
  </tbody>
</table>