<p style='text-align: center'>
  С Юбилеем поздравляем<br />
  Лучший университет,<br />
  Процветания желаем<br />
  И больших-больших побед:<br />
  Вот такой вышины<br />
  Вот такой нижины.<br />
  Каравай-каравай<br />
  Ты УрФУ выбирай.
</p>
<p style='text-align: center'>
  Поздравляем с Юбилеем<br />
  Лучший университет,<br />
  Он сегодня отмечает<br />
  Свои девяносто лет,<br />
  Караваем угощает,<br />
  Дарит нам улыбок свет.<br />
  Каравай-каравай<br />
  Ты с УрФУ побеждай.
</p>