<%= form_for(@post, :as => :post, :url => request.url, :html => { :multipart => true }) do |f| %>
  <%= render :partial => params[:type].to_s, :locals => { :f => f } %>

  <p class='buttons'>
    <%= f.submit %>
    <%= image_tag 'spinner.gif', :style => 'display:none', :class => :spinner %>
  </p>
<% end %>
