<p>
  <%= f.label :video_url, :'data-tooltip' => true, :title => t('video.supported') %>:
  <%= f.text_field :video_url, :'data-tooltip' => true, :title => t('video.supported') %>
</p>
<p>
  <%= f.label :body %>:<br />
  <%= f.text_area :body, :cols => 30 %>
</p>
